{% extends 'base_generic.html' %}

{% block content %}
{% if user == choice.event.host %}
	<h1>Delete Event</h1>

	<p>Are you sure you want to delete the time: {{ choice.date }} for the event {{ choice.event }}?</p>

	<form action="" method="POST">
		{% csrf_token %}
		<input type="submit" value="Yes, delete.">
		<button><a href="{% url 'scheduler:events' %}">Cancel</a></button>
	</form>
{% else %}
	<div class="center">
		<p>You don't have access to this page.</p>
	</div>
{% endif %}
{% endblock %}

