{% extends 'base_generic.html' %} 

{% block content %}

<div class="center">
	<p>Hello {{ user.first_name }}!</p>
	{% if contact_list %}
		<p>Here are your contacts:</p>
			{% for contact in contact_list %}
				<div class="center">
					<a href="{% url 'scheduler:contact_update' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a>
				</div>
			{% endfor %}
	{% else %}
		<p>You have no friends!</p>
	{% endif %}
	<h1><a href="{% url 'scheduler:contact_create' %}">+</a></h1>

</div>

{% endblock %}