{% extends "base_generic.html" %}

{% block content %}
<h1>{{ event.name }}</h1>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'scheduler:vote' event.id %}" method="post">
	{% csrf_token %}
	{% for choice in event.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> {{ choice.date }}
		<label for="choice{{ forloop.counter }}"> @ {{ event.place }}</label>
		<br>
	{% endfor %} 
	<input type="submit" value="Vote"> 
</form>

{% endblock %}
