{% extends 'base_generic.html' %} 
{% block content %}
	{% if event_list %}
		<p>Here are your events:</p>
			{% for event in event_list %}
				<div class="center">
					<a href="{% url 'scheduler:details' event.id %}">{{ event.name }}</a>
					<br>
					<br>
					<a href="{% url 'scheduler:event_delete' event.id %}">Delete Event</a>
					<br>
					<br>
					<a href="{% url 'scheduler:event_update' event.id %}">Change Name or Place of Event</a>
					<br>
					<br>
					<br>
				</div>
			<br>
			{% endfor %}
			<div class="center">
				Want to <a href="{% url 'scheduler:event_create' %}">schedule another one?</a>
			</div>
	{% else %}
		<p>You have no events. 
			<br>
			<br>
			<div class="center">
				Want to <a href="{% url 'scheduler:event_create' %}">schedule one?</a>
			</div>
	{% endif %}
{% endblock %}