{% extends "base_generic.html" %} 

{% block content %}
	{% if user.is_authenticated %}
		<div class="center">
			<a href="{% url 'scheduler:events' %}">Your Hosted Events</a>
			<br>
			<a href="{% url 'scheduler:invitations_received' %}">Your received invitations</a>
			<br>
			<a href="{% url 'scheduler:invitations_sent' %}">Your sent invitations</a>
		</div>
	{% else %}
		<div class="center">
			<button><a href="{% url 'scheduler:login' %}">Sign in</a></button>
			<br>
			<br>
			<button><a href="{% url 'signup' %}">Sign up</a></button>
		</div>

	{% endif %}
{% endblock %}