{% extends "base_generic.html" %} 

{% block content %}
<div class="center">

	{% for invitation in invitation_list %}
		{% if invitation.event.host == user %}
			<p>Event: {{ invitation.event }}</p>
			<p>Invitee: {{ invitation.invitee.first_name }} {{ invitation.invitee.last_name }}</p>
			<a href="{% url 'scheduler:invitation_update' invitation.id %}">Make changes to this invitaton</a>
			<br>
			<a href="{% url 'scheduler:invitation_delete' invitation.id %}">Delete this invitation</a>
		{% endif %}
	{% endfor %}

<h1><a href="{% url 'scheduler:invitation_create' %}">+</a></h1>

</div>

{% endblock %}